<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-resa-unal" >
	<tr>
		<td>
			<f:translate key="tx_resaunal_domain_model_elemento.nombre" />
		</td>
		<td>
		{elemento.nombre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_resaunal_domain_model_elemento.nombre_display" />
		</td>
		<td>
		{elemento.nombreDisplay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_resaunal_domain_model_elemento.informacion" />
		</td>
		<td>
		{elemento.informacion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_resaunal_domain_model_elemento.tab_informacion" />
		</td>
		<td>
		{elemento.tabInformacion}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_resaunal_domain_model_elemento.tab_iframes" />
		</td>
		<td>
		{elemento.tabIframes}
		</td>
	</tr>
</table>
</html>