<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Elemento</h1>

<f:flashMessages />

<table  class="tx_resaunal" >
	<tr>
		<th><f:translate key="tx_resaunal_domain_model_elemento.nombre" /></th>
		<th><f:translate key="tx_resaunal_domain_model_elemento.nombre_display" /></th>
		<th><f:translate key="tx_resaunal_domain_model_elemento.informacion" /></th>
		<th><f:translate key="tx_resaunal_domain_model_elemento.tab_informacion" /></th>
		<th><f:translate key="tx_resaunal_domain_model_elemento.tab_iframes" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{elementos}" as="elemento">
		<tr>
			<td><f:link.action action="show" arguments="{elemento : elemento}"> {elemento.nombre}</f:link.action></td>
			<td><f:link.action action="show" arguments="{elemento : elemento}"> {elemento.nombreDisplay}</f:link.action></td>
			<td><f:link.action action="show" arguments="{elemento : elemento}"> {elemento.informacion}</f:link.action></td>
			<td><f:link.action action="show" arguments="{elemento : elemento}"> {elemento.tabInformacion}</f:link.action></td>
			<td><f:link.action action="show" arguments="{elemento : elemento}"> {elemento.tabIframes}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{elemento : elemento}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{elemento : elemento}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Elemento</f:link.action>
</f:section>
</html>